@import "tailwindcss";

@theme {
  /* Igbe Colors */
  --color-igbe-red: #ff0000;
  --color-igbe-white: #ffffff;
  --color-igbe-blue: #0000ff;
  --color-igbe-yellow: #ffff00;
  --color-igbe-purple: #800080;
  --color-igbe-pink: #ffc0cb;
  --color-igbe-gold: #ffd700;

  /* Fonts */
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
}

